/* General */
a {
  color: black;
  transition: .25s;
}



body {
  font-family: "Open Sans";
  color: #262626;
  margin: 0%;
  margin-bottom: 5%;
}

h1 {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 1.5;
  color: #262626;
}

.content h1{
}

h2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
}




h5 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #262626;
  opacity: .66;
  transition: .25s;
}

p {
  font-family: Lora;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.7;
  color: #262626;
}

/* Overlay */
#overlay {
  top: 0%;
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  flex-flow: column;
  z-index: 100;  /* opacity: 0 */
  align-items: center;
  justify-content: center;
}

#nav_links {
  display: none;
}

#overlay a {
  font-family: Lora;
  font-weight: bold;
  text-decoration: underline;
  color: black;
  font-size: 29px;
  margin-right: 10vw;
}

#overlay * {
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 10vw;
}

/* Splash */
#splash {
  margin: 10%;
  margin-top: 10vh;
}


#splash h1 {
  font-family: Lora;
  font-style: normal;
  font-weight: lighter;
  font-size: 29px;
}

#splash a {
  font-family: Lora;
  font-weight: bold;
  color: black;
  font-size: 29px;
  text-decoration: none;
}

#splash a:hover {
  text-decoration: underline;
  color: #f05323;
}

#down_arrow {
  margin: 5vh;
}

/* Nav bar */
nav {
  display: flex;
  margin: 10%;
  margin-bottom: 5vh;
  margin-top: 5vh;
  align-items: center;
}

#hamburger {
  margin-left: auto;
  z-index: 101;
}

#nav_bar {
  display: none;
}

#down_arrow {
  text-align: center;
}

/* Gallery Section */
.gallery {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.gallery *{
  width: 100vw;
  margin-bottom: 2vw;
}

.gallery-item a {
  text-decoration: none;
}

.gallery-item a:hover {
  text-decoration: none;
}

.gallery-item img {
  width: 100vw;
  height: 80vw;
  height: auto;
  background-color: lightgray;
  margin-bottom: 2.5%;
}

.gallery-info * {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
}

/* Footer */
#footer {
  margin: 5%;
  opacity: .75;
  text-align: center;
  margin-bottom: 0%;
}

#footer_desktop {
  display: none;
}

#footer_mobile * {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #262626;
  opacity: .66;
  text-decoration: none;
}

#footer_mobile a {
  transition: .25s;
}

#footer_mobile a:hover {
  opacity: 1
}

/* Project */

.content{
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}

  .content .brief_title {
    margin-top: 0%;
    margin-bottom:  0;
  }



.banner {
  display: flex;
  /* background-color: black; */
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 20vh;
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  
}

.hero .banner {
  margin: 0%;
}

.banner * {
  font-style: normal;
  text-align: center;
}

.brief {
  padding-left: 10%;
  padding-right: 10%;
}

.brief h5 {
  margin-top: 0%;
}

.brief_title {
  margin-bottom: 0%;
}

.summary {
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
}

.summary * {
  margin-right: 20px;
  
}

/* All text is margin */
.content p,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  padding-left: 10%;
  padding-right: 10%;
}

/* Image Type */
.hero img {
  width: 100vw;
  height: 75vh;
  background-color: lightgrey;
  margin-bottom: 5vh;
}

.cover {
  width: 100%;
  height: 75vh;
  background-color: lightgray;
}

.normal_img {
  background-color: lightgray;
  width: 80vw;
  margin-left: 10vw;
  margin-left: 10vw;
}

.caption {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #262626;
  opacity: .66;
  text-align: center;
}


/* Filter */
#filter {
  margin-left: 10vw;
  margin-right: 10vw;
  display: none;
}

.button_container {
  display: flex;
  align-items: center;
}

.button_container * {
  margin-right: 2vw;
}

.button {
  display: flex;
  justify-content: center;
}

.button {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  width: 125px;
  height: 40px;
  opacity: .66;
  transition: .25s;
}

.button:hover {
  opacity: 1;
}

.button a {
  text-align: center;
}

#filter h1 {
  margin-bottom: 0%;
  margin-top: 0%;
}

/* For Desktop and Tablet */
@media (min-width:801px) {
  #splash {
    margin-bottom: 7.5%;
  }

  .content p,
  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5 {
    padding-left: 0%;
    padding-right: 0%;
  }

  .content{
    padding-left: 20vw;
    padding-right: 20vw;
  }


  .normal_img{
    margin-left: 0%;
    margin-right: 0%;
    width: 60vw;
  }



  /* Project Brief */
  .brief {
    display: flex;    /* background-color: lightskyblue; */
        padding-left: 20vw;
    padding-right: 20vw;
  }

  .col_3 {
    order: 2;
  }

  .summary {
    /* background-color: lightpink; */
    flex-flow: column;
    margin-left: 5vw;
    text-align: left;
    min-width: 15vw;
    margin-right: 0%;
    /* background-color: red; */

  }

  .summary * {
    /* background-color: gray; */
    align-self: flex-start;
  }

  .summary p{
    margin-right: 0%;
  }

  /* Gallery */
  .gallery {
    display: flex;
    flex-flow: row;
    padding: 10%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
  }

  .gallery-item {
    margin-bottom: 7.5%;
  }

  .gallery-item * {
    margin-left: 0%;
  }

  .gallery-item img {
    width: 38vw;
    height: auto;
    margin-bottom: 1vh;
  }

  #down_arrow {
    display: none;
  }

  /* Nav Bar */
  #hamburger * {
    display: none;
  }

  #nav_links {
    display: flex;
  }

  #nav_links * {
    margin-left: 1.5vw;
  }

  #nav_links a {
    text-decoration: none;
  }

  #nav_links *:hover {
    opacity: 1;
  }

  #splash {
    width: 750px;    /* background-color: red; */
  }

  nav {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }

  .gallery-item img {
    opacity: 1;
    transition: .5s;
    margin-bottom: 0%
  }

  .gallery-item img:hover {
    opacity: .75;
  }

  .gallery-info * {
    text-align: left;
  }

  .gallery *{
  width: 38vw;
}

.gallery img{
  margin-bottom: .5vw;
  margin-top: .5vw;
}

}
